.footer {
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: $color-blck;
}

.github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.github:hover {
  transform: rotate(360deg) scale(1.2);
}
