nav {
  display: flex;
  flex-direction: column;
  float: right;
  padding: 5rem;
  font-size: 4rem;
  letter-spacing: 1rem;
  line-height: 8rem;
}

.head-nav {
  padding: 5rem;
  letter-spacing: 1rem;
  line-height: 8rem;
  color: $color-light1;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .menu-container {
  padding-top: 60px;
}
