/*********** SECTION ************/
//all
.text-box {
  position: absolute;
  font-size: 1.2rem;
}

//menu

.menu-section-left,
.menu-section-right {
  background-color: $color-blu1;
  color: $color-brwn3;
  border-radius: 10px;
  text-transform: uppercase;
}

// contact section
.section-top {
  margin: 4rem 0 4rem 4rem;
  padding: 2rem;
  width: 50%;
  background-color: $color-blu1;
  color: $color-brwn3;
  border-radius: 10px;
  text-transform: uppercase;
  backface-visibility: hidden;
}
