:root {
  --brwn1: #b99470;
  --brwn2: #ba704f;
  --brwn3: #6c3428;
  --blu1: #cee6f3;
  --light1: #fefae0;
}

/* background-attachment: scroll;
background-attachment: fixed; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light1);
  color: var(--light1);
  font-family: 'Roboto', Courier, monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

.container,
main {
  display: flex;
  justify-content: center;
}

.header {
  width: 75vw;
  background-image: linear-gradient(
      to right bottom,
      rgba(228, 202, 176, 0.4),
      rgba(110, 64, 43, 0.4)
    ),
    url(/img/img6.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;

  height: 300vh;
  /* clip-path: polygon(0 0, 100% 0, 100% 600px, 0 100%); */
  border-radius: 10px;
  position: relative;
}

nav {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  float: right;
  padding: 5rem;
  font-size: 4rem;
  letter-spacing: 1rem;
  line-height: 1rem;
}

a {
  padding: 5rem;
  font-size: 4rem;
  letter-spacing: 1rem;
  color: var(--light1);
  text-decoration: none;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 10px;
}

.logo {
  height: 120px;
}

.text-box {
  position: absolute;
  font-size: 1.2rem;
}

.heading-primary-left {
  margin: 4rem 0 4rem 4rem;
  padding: 2rem;
  width: 50%;
  background-color: var(--blu1);
  color: var(--brwn3);
  border-radius: 10px;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-right {
  margin: 12rem 0 0 53rem;
  padding: 2rem;
  width: 50%;
  background-color: var(--blu1);
  color: var(--brwn3);
  border-radius: 10px;
  text-transform: uppercase;
  backface-visibility: hidden;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 60px;
}
