$color-brwn1: #b99470;
$color-brwn2: #ba704f;
$color-brwn3: #6c3428;
$color-blu1: #cee6f3;
$color-light1: #fefae0;
$color-blck: #000;

// FONT
$default-font-size: 1.1rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
