.map {
  margin: 12rem 0 0 4rem;
  padding: 2rem;
  width: 90vh;
  background-color: $color-blu1;
  color: $color-brwn3;
  border-radius: 10px;
  text-transform: uppercase;
  backface-visibility: hidden;
}
